<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>firstVersion</key>
	<string>0.0</string>
	<key>lastVersion</key>
	<string>0.0</string>
	<key>newsID</key>
	<string>1</string>
	<key>maxNumOfAlbums</key>
	<string>9999</string>
	<key>maxNumOfMoments</key>
	<string>9999</string>
	<key>isHomeCoachShouldShown</key>
	<true/>
</dict>
</plist>
